<div class="container" style="margin-top: 20px;">

    <span style="float:right"><a href="/home/index">
        <button type="submit" class="btn btn-success btn-xs" style="align: right;">Home</button>
    </a></span>

    <h2 style="text-align: center; color: #006600;"><b>Sending Mail Success!</b></h2>
    <br>

    <center><a href="/mailbox">
        <button type="submit" class="btn btn-success">Go to the Sent Mail Box</button>
    </a></center>
</div>